<app-error *ngIf="!account.isTourGuide || !tour"></app-error>
<nav *ngIf="account.isTourGuide && tour">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row" class="d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="card border-primary" style="width: 110%">
                        <h1 class="tour-banner-title">{{ tour.name }}</h1>
                        <div class="card-body">
                            <form [formGroup]="form" (ngSubmit)="addImage()">
                                <div class="form-row">
                                    <label>
                    <strong>Tóm Tắt: </strong>
                    {{ tour.summary }}
                  </label>
                                </div>
                                <div class="form-row">
                                    <label>
                    <strong>Giá Bán: </strong>
                    {{ tour.price }} VNĐ
                  </label>
                                </div>

                                <div class="form-row">
                                    <label>
                    <strong>Thời Gian: </strong>
                    {{ tour.time }}
                  </label>
                                </div>

                                <div class="form-row">
                                    <label>
                    <strong>Khởi Hành: </strong>
                    {{ tour.departureLocation }}
                  </label>
                                </div>

                                <div class="form-row">
                                    <label>
                    <strong>Nơi Đến: </strong>
                    {{ tour.destination }}
                  </label>
                                </div>

                                <div class="form-row">
                                    <label>
                    <strong>Số Lượng: </strong>
                    {{ tour.amount }}
                  </label>
                                </div>

                                <div class="form-row">
                                    <label><strong>Chọn tệp hình ảnh</strong></label>
                                    <div class="col-sm-12">
                                        <div>
                                            <h6 class="head-title margin-top-8"></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="uploadedImage" (change)="onFileSelect($event)" #UploadFileInput />

                                            <label class="custom-file-label" for="customFile">{{
                        fileInputLabel || "Choose File"
                      }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <button [disabled]="loading" class="btn btn-success">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Cập nhật hình ảnh
                  </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>