<app-error *ngIf="!account.isTourGuide || !tour"></app-error>
<nav *ngIf="account.isTourGuide && tour">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row" class="d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="card border-primary">
                        <h1 class="card-header">{{ tour.name }}</h1>
                        <div class="card-body">
                            <form [formGroup]="form" (ngSubmit)="addImage()">
                                <div class="newspaper">
                                    <div class="form-row">
                                        <label for="summary ">Tóm Tắt: {{ tour.summary }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label for="price ">Giá Bán: {{ tour.price }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label for="time ">Thời Gian: {{ tour.time }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label for="departureLocation ">
                      Địa điểm Khởi Hành: {{ tour.departureLocation }}
                    </label>
                                    </div>

                                    <div class="form-row">
                                        <label for="destination ">
                      Nơi Đến: {{ tour.destination }}
                    </label>
                                    </div>

                                    <div class="form-row">
                                        <label for="amount ">Số Tiền: {{ tour.amount }}</label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <label>Chọn tệp hình ảnh</label>
                                    <div class="col-sm-12">
                                        <div>
                                            <h6 class="head-title margin-top-8"></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" name="uploadedImage" (change)="onFileSelect($event)" #UploadFileInput />

                                            <label class="custom-file-label" for="customFile">{{
                        fileInputLabel || "Choose File"
                      }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <button [disabled]="loading" class="btn btn-success">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Cập nhật hình ảnh
                  </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>