<div class="classv">
<div class="card border-primary"  >
    <h1 class="card-header">Chỉnh sửa thông tin</h1>
    <div class="card-body">
        <form >
            <div class="form-row">
               <label for="fullname">CMND/CCCD</label>
              <input type="text" formControlName="fullname" class="form-control"  />
                <!-- <div  class="invalid-feedback">
                    Full Name is required
                </div> -->
            </div>
            <div class="form-row" >
                <label for="email">Địa Chỉ</label>
                <input type="text" formControlName="email" class="form-control"  />
                <!-- <div  class="invalid-feedback">
                    <div>Email is required</div>
                    <div>
                        Email must be a valid email address
                    </div>
                </div> -->
            </div>
            <div class="form-row">
                <label for="username">SĐT</label>
                <input type="text" formControlName="username" class="form-control"  />
                <!-- <div class="invalid-feedback">
                    <div >Username is required</div>
                </div> -->
            </div>
            <div class="form-row">
                <label for="password">Email</label>
                <input type="password" formControlName="password" class="form-control"  />
                <!-- <div  class="invalid-feedback">
                    <div >Password is required</div>
                    <div >
                        Password must be at least 6 characters
                    </div>
                </div> -->
            </div>
            <!-- <div class="form-row">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control"  /> -->
                <!-- <div  class="invalid-feedback">
                    <div >
                        Confirm Password is required
                    </div>
                    <div >
                        Passwords must match
                    </div>
                </div> -->
            <!-- </div> -->
            <!-- <div class="form-group">
                <label for="accountType">Account Type</label>
                <div>
                    <input id="customer" type="radio" value="customer" name="accountType" formControlName="accountType" />
                    <label for="customer">Customer</label>
                </div>
                <div>
                    <input id="tourguide" type="radio" value="tourguide" name="accountType" formControlName="accountType" />
                    <label for="tourguide">Tour Guide</label>
                </div> -->
                <!-- f.accountType.touched &&  -->
                
            <!-- </div> -->
            <div class="form-row">
                <button  class="btn btn-primary">
          <span
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Lưu thông tin
        </button>
                <a routerLink="/account/login" class="btn btn-danger">Huỷ bỏ</a>
            </div>
        </form>
    </div>
  </div>
</div>
