<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: -100px">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="margin-top: 100px">
        <div class="carousel-item active" style="width: auto; height: 100vh">
            <img style="height: 100%" src="http://4.bp.blogspot.com/-9dPNyY_56zc/VgFBeXJL3eI/AAAAAAABCRc/UrofL4smylw/s1600/halong-bay-vietnam-tropical-islands-ships-ultra-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" style="width: auto; height: 100vh">
            <img style="height: 100%" src="http://3.bp.blogspot.com/-8YaSo3ytcu8/VgFBaXWlTbI/AAAAAAABCQY/D2W5BQdcMk0/s1600/halong-bay-nam-cat-island-wallpaper-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" style="width: auto; height: 100vh">
            <img style="height: 100%" src="http://1.bp.blogspot.com/-pwLWraH2PP4/VgFBT1iwEmI/AAAAAAABCPQ/20tpdhXDfbM/s1600/halong-bay-landscape-in-vietnam-island-wallpaper-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Card Product -->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->

    <a class="carousel-control-prev buttonns" href="#multi-item-example" data-slide="prev" role="button"><i class="fa fa-chevron-left"></i
  ></a>
    <a class="carousel-control-next buttonns" href="#multi-item-example" data-slide="next" role="button"><i class="fa fa-chevron-right"></i
  ></a>

    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <br /><br />
        <h2 class="size-24 text-center mb25 bold">Tour nổi bật</h2>
        <!--First slide-->
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[0].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[0].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[0].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[0].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[1].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[1].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[1].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[1].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[2].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[2].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[2].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[2].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[3].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[3].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[3].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[3].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[4].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[4].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[4].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[4].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[5].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[5].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[5].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[5].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[6].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[6].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[6].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[6].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[7].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[7].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[7].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[7].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ tours[8].avatarPath }}" alt="Card image cap" style="height: 200px" />
                        <div class="card-body">
                            <h4 class="card-title">
                                <b>Tour {{ tours[8].destination }}</b>
                            </h4>
                            <p class="card-text">
                                {{ tours[8].summary }}
                            </p>
                            <a href="/tour/blog&trip/{{ tours[8].id }}" class="btn btn-primary">
                Đặt tour
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Third slide-->
    </div>
    <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->

<!-- Commitment-->
<div class="commitment">
    <div class="container">
        <h2 class="size-24 text-center mb25 bold">Cam kết từ chúng tôi</h2>
        <div class="commitment__group">
            <div class="commitment__row">
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="../../assets/img/Icon/Balo.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Giá vé tốt</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="../../assets/img/Icon/Bando.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Khả năng săn vé cao</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="../../assets/img/Icon/mayanh.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Giá phòng giảm sâu</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commitment__row">
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="../../assets/img/Icon/maybay.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Cam kết giá tốt nhất</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="../../assets/img/Icon/passport.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Combo tự động</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="../../assets/img/Icon/Vemaybay.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Cập nhật Tour liên tục</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-hero">
    <div id="hero">
        <h2>Đặt chuyến đi đến BlogTravel</h2>
    </div>
</div>