<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="margin-top: 100px">
        <div class="carousel-item active" style="width: auto; height: 100vh">
            <img style="height: 100%" src="http://4.bp.blogspot.com/-9dPNyY_56zc/VgFBeXJL3eI/AAAAAAABCRc/UrofL4smylw/s1600/halong-bay-vietnam-tropical-islands-ships-ultra-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" style="width: auto; height: 100vh">
            <img style="height: 100%" src="http://3.bp.blogspot.com/-8YaSo3ytcu8/VgFBaXWlTbI/AAAAAAABCQY/D2W5BQdcMk0/s1600/halong-bay-nam-cat-island-wallpaper-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" style="width: auto; height: 100vh">
            <img style="height: 100%" src="http://1.bp.blogspot.com/-pwLWraH2PP4/VgFBT1iwEmI/AAAAAAABCPQ/20tpdhXDfbM/s1600/halong-bay-landscape-in-vietnam-island-wallpaper-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://image.thanhnien.vn/768/uploaded/minhnguyet/2019_08_23/halong-3_pids.jpg" alt="Card image cap" />
        <div class="box-tour-price">
            <div class="p1">
                <p class="text">Giá từ</p>
                <p class="price"><b>7.300.000</b></p>
                <p class="info">3 ngày 2 đêm</p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title" class="b1"><b>Tour Vịnh Hạ Long</b></h5>
            <p class="card-text">Ngắm toàn cảnh vịnh Vịnh Hạ Long</p>
            <p class="card-text">Ngoạn cảnh Vịnh Hạ Long</p>
            <p class="card-text">Kì quan thiên nhiên thế giới</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <div class="bottom-detail">
            <div class="info-tour"></div>
            <div class="action-tour">
                <div class="btn-kiritm">Mua Tour</div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://salt.tikicdn.com/ts/tmp/1c/6a/53/54eb33d758ba637996f4573d9ea7bbf9.jpg" alt="Card image cap" />
        <div class="box-tour-price">
            <div class="p1">
                <p class="text">Giá từ</p>
                <p class="price"><b>3.000.000</b></p>
                <p class="info">2 ngày 1 đêm</p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title" class="b1"><b>Tour Ninh Bình</b></h5>
            <p class="card-text">Địa điểm du lịch nổi tiếng</p>
            <p class="card-text">Quần thể danh thắng Tràng An nổi tiếng</p>
            <p class="card-text">Gần 40 loài chim với số lượng lên tới 50.000 con</p>
        </div>
        <div class="bottom-detail">
            <div class="info-tour"></div>
            <div class="action-tour">
                <div class="btn-kiritm">Mua Tour</div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://vnn-imgs-f.vgcloud.vn/2020/05/21/17/bi-kip-du-lich-sapa-ngon-bo-re-he-nay.jpg" alt="Card image cap" />
        <div class="box-tour-price">
            <div class="p1">
                <p class="text">Giá từ</p>
                <p class="price"><b>4.500.000</b></p>
                <p class="info">3 ngày 2 đêm</p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title" class="b1"><b>Tour Sapa</b></h5>
            <p class="card-text">
                Thị trấn Sapa chìm trong mây bồng bềnh,khí hậu mát mẻ
            </p>
            <p class="card-text">Đến nơi đây sẽ gom các dân tộc H'Mông Đen, Dao Đỏ</p>
            <p class="card-text">
                Sapa còn hấp dẫn bởi sự tụ hội nhiều sắc màu dân tộc
            </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <div class="bottom-detail">
            <div class="info-tour"></div>
            <div class="action-tour">
                <div class="btn-kiritm">Mua Tour</div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://media.vietravel.net/Images/NewsPicture/1-doi-che-cau-dat.jpg" alt="Card image cap" />
        <div class="box-tour-price">
            <div class="p1">
                <p class="text">Giá từ</p>
                <p class="price"><b>3.200.000</b></p>
                <p class="info">4 ngày 3 đêm</p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title" class="b1"><b>Tour Đà Lạt</b></h5>
            <p class="card-text">
                Ngắm những đóa mai anh đào nở rộ quanh Hồ Xuân Hương
            </p>
            <p class="card-text">
                Hoa dã quỳ vươn mình đón nắng đẹp kiêu sa lung linh theo gió mới
            </p>
            <p class="card-text">
                Mỗi mùa là Đà Lạt hiện lên với hương sắc riêng luôn cuốn hút du khách
            </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <div class="bottom-detail">
            <div class="info-tour"></div>
            <div class="action-tour">
                <div class="btn-kiritm">Mua Tour</div>
            </div>
        </div>
    </div>
</div>

<div class="commitment">
    <div class="container">
        <h2 class="size-24 text-center mb25 bold">Commitment From US</h2>
        <div class="commitment__group">
            <div class="commitment__row">
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="https://icon-icons.com/icons2/1363/PNG/64/travel-holiday-vacation-328_89069.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Good ticket price</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="https://icon-icons.com/icons2/1461/PNG/64/2998135-backpack-rucksack-schoolbag-travel_99866.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Ability to hunt tickets</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="https://icon-icons.com/icons2/1551/PNG/64/if-traveling-icon-flat-outline02-3405107_107378.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Room rates fell deeply</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commitment__row">
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="https://icon-icons.com/icons2/1363/PNG/64/travel-holiday-vacation-321_89078.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Commitment to end price</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="https://icon-icons.com/icons2/2435/PNG/64/wallet_finance_money_business_icon_147399.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Automatic Combo</p>
                        </div>
                    </div>
                </div>
                <div class="commitment__col">
                    <div class="commitment__item">
                        <div class="commitment__icon">
                            <img src="https://icon-icons.com/icons2/2435/PNG/64/hotel_service_app_travel_icon_147405.png" />
                        </div>
                        <div class="commitment__text">
                            <p class="mb0 semibold">Constantly updated</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-hero">
    <div id="hero">
        <h2>Book your trip to Saigontourist</h2>
    </div>
</div>