<div div class="card-wrapper">
    <div class="title">
        <h1>Thông Tin Khách Hàng</h1>
    </div>
    <div class="img-and-name">
        <div class="image-place">
            <img alt="" class="person-image" src="{{ customer.avatarPath }}" title="Image Of Name" />
        </div>
        <div class="information">
            <div class="person-name">
                <p>{{ customer.name }}</p>
            </div>
            <br />
            <div class="job-description">CMND/CCCD: {{ customer.identity }}</div>
            <div class="job-description">Địa Chỉ: {{ customer.address }}</div>

            <div class="contacts">
                <div class="phone-number">
                    <p>
                        <a href="tel:{{ customer.phone }}">SĐT : {{ customer.phone }}</a>
                    </p>
                </div>
                <div class="email">
                    <p>
                        <a href="{{ customer.email }}">Email: {{ customer.email }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container btnn">

        <div type="button" class="btn btn-info">
            <!-- <b routerLink="/customer/info/{{ account.id }}/update">  </b> -->

            <b routerLink="/customer/info/{{ account.id }}" (click)="reloadPage()">Cập Nhật</b
      >
    </div>

    <div type="button" class="btn btn-warning">
      <b routerLink="/customer/info/{{ account.id }}/update"> Sửa </b>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" style="margin-left: 9px">
  <b routerLink="/customer/info/{{ account.id }}/listRegisterTrip">
    Danh Sách Chuyến Đi
  </b>
</button>