<h2>Chuyến đi đã đặt</h2>
<div class="row trip-row">
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Mã Tour</th>
                    <th>Ngày Khởi hành</th>
                    <th>Ngày về</th>
                    <th>Khởi hành</th>
                    <th>Điểm đến</th>
                    <th>Chi tiết</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content" *ngFor="let trip of trips">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td>{{ trip.startDate }}</td>
                    <td>{{ trip.endDate }}</td>
                    <td>
                        {{ trip.tourId }}{{ tour.tourGuideId }}{{ trip.id }}{{ trip.tourGuideId }}
                    </td>
                    <td>{{ trip.infoHotel }}</td>
                    <td>{{ trip.infoVehicle }}</td>
                    <td>{{ trip.price }}</td>
                    <td>{{ trip.childrenPrice }}</td>
                    <td>{{ trip.babyPrice }}</td>
                    <td>{{ trip.theRemainingAmount }}</td>
                    <td>
                        <a href="/tour/blog&trip/{{ trip.tourId }}/registerTrip/{{
                trip.id
              }}" *ngIf="trip.theRemainingAmount > 0">Mua tour</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Chuyến đi đợi duyệt</h2>
<table class="rwd-table">
  <tr>
    <th>Mã Tour</th>
    <th>Ngày Khởi hành</th>
    <th>Ngày về</th>
    <th>Khởi hành</th>
    <th>Điểm đến</th>
    <th>Thanh toán</th>
  </tr>
  <tr>
    <td data-th="Movie Title">Star Wars</td>
    <td data-th="Genre">Adventure, Sci-fi</td>
    <td data-th="Year">1977</td>
    <td data-th="Gross">$460,935,665</td>
    <td data-th="Gross">$460,935,665</td>
    <td></td>
  </tr>
</table>