<div class="list-tour-detail">
  <h2>Danh sách các chuyến đi</h2>
  <div class="row trip-row">
    <div
      class="col-md-12 col-xs-12 tour-detail-title-information tour-detail-header-col"
    >
      <div class="row trip-row">
        <div class="col-md-2 col-sm-3 col-xs-12">Khởi hành</div>
        <div class="col-md-2 col-sm-3 col-xs-12">Mã Tour</div>
        <div class="col-sm-2 col-xs-12">Giá</div>
        <div class="col-sm-2 col-xs-12">Giá trẻ em</div>
        <div class="col-sm-2 col-xs-12">Giá em bé</div>
        <div class="col-md-2 col-sm-12 col-xs-12"></div>
      </div>
    </div>
    <div
      class="col-md-12 col-sm-12 col-xs-12 tour-detail-content-col"
      *ngFor="let trip of trips"
    >
      <div class="list-inline">
        <div class="row trip-row">
          <div class="col-xs-12"></div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <!-- <label>Ngày khởi hành</label> -->
            <strong>{{ trip.startDate }}</strong>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <!-- <label>Mã Tour</label> -->
            <strong style="margin-left: -30px"
              >STN084-2020-{{ trip.id }}</strong
            >
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 price">
            <!-- <label>Giá</label> -->
            <strong>{{ trip.price }}</strong>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 price">
            <!-- <label>Giá trẻ em</label> -->
            <strong>{{ trip.childrenPrice }}</strong>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 price">
            <!-- <label>Giá trẻ sơ sinh</label> -->
            <strong>{{ trip.babyPrice }}</strong>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 packageInfo">
            <!-- <label>Đặt/Mua tour</label> -->
            <div class="action-book">
              <a class="btn btn-buy-tour" href="/"> Mua Tour </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spinner-border" role="status" *ngIf="!trips">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
