<div class="row">
  <!-- Tour List -->
  <div class="col-sm-12 col-xs-12">
    <div class="row box-search-tour">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="box-search-tour-image">
          <a
            href="/vi/tour-trong-nuoc/99/du-lich-my-tho-can-tho-ca-mau-bac-lieu-soc-trang."
            class="isotopeSelector image-box-relative image-box-3x2"
          >
            <img
              class="tour-image"
              src="/uploads/destination/TrongNuoc/Mientay/My-tho-Vinh-tranh-pagoda.jpg"
              alt="Image"
            />
          </a>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row box-search-tour-info">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="title-tour">
              <a
                href="/vi/tour-trong-nuoc/99/du-lich-my-tho-can-tho-ca-mau-bac-lieu-soc-trang."
                data-url="/vi/tour-trong-nuoc/99/du-lich-my-tho-can-tho-ca-mau-bac-lieu-soc-trang."
                data-id="99"
                data-name="Du lịch Mỹ Tho - Cần Thơ - Cà Mau - Bạc Liêu - Sóc Trăng"
                data-price="3879000"
                data-category="Tour miền Tây"
                data-brand="tour-trong-nuoc"
                data-list="List"
                data-position="1"
                class="GAproductClick"
                title="Du lịch Mỹ Tho - Cần Thơ - Cà Mau - Bạc Liêu - Sóc Trăng"
              >
                Du lịch Mỹ Tho - Cần Thơ - Cà Mau - Bạc Liêu - Sóc Trăng
              </a>
            </div>
            <div class="destination-tour">
              TP. Hồ Chí Minh - Miền Tây | ĐBSCL
            </div>
            <div class="detail-tour">
              Thời gian : 4 ngày 3 đêm<br />
              Phương tiện : Đi về bằng xe <br />
              - Đến Mỹ Tho thưởng thức trái cây theo mùa, nghe nhạc tài tử
              Nam...
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row">
              <div class="row-box-price col-md-12 col-sm-12 col-xs-6">
                <a
                  href="/vi/tour-trong-nuoc/99/du-lich-my-tho-can-tho-ca-mau-bac-lieu-soc-trang."
                  data-url="/vi/tour-trong-nuoc/99/du-lich-my-tho-can-tho-ca-mau-bac-lieu-soc-trang."
                  data-id="99"
                  data-name="Du lịch Mỹ Tho - Cần Thơ - Cà Mau - Bạc Liêu - Sóc Trăng"
                  data-price="3879000"
                  data-category="Tour miền Tây"
                  data-brand="tour-trong-nuoc"
                  data-list="List"
                  data-position="1"
                  class="GAproductClick box-price-tour"
                  title="Du lịch Mỹ Tho - Cần Thơ - Cà Mau - Bạc Liêu - Sóc Trăng"
                >
                  <span class="text">Giá từ </span>
                  <span class="price">3.879.000</span>
                </a>
              </div>
              <div
                class="row-box-views col-md-12 col-sm-12 col-xs-6"
                style="display: block"
              >
                <div>
                  <ul
                    class="list-inline detailsBtn"
                    style="display: block; float: none"
                  >
                    <li>
                      <span class="textInfo">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        21/11/2020
                      </span>
                    </li>
                    <li>
                      <span class="textInfo">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        28/11/2020
                      </span>
                    </li>
                  </ul>
                </div>
                <a class="box-view-more select-tour-action">
                  <i class="fa fa-calendar"></i>
                  <span class="text">Xem thêm</span>
                </a>
                <div style="display: none" class="tour-detail-data">
                  <div
                    class="col-md-12 col-xs-12 tour-detail-title-information"
                  >
                    <div class="row">
                      <div class="col-md-2 col-xs-12">Khởi hành</div>
                      <div class="col-md-2 col-xs-12">Mã Tour</div>
                      <div class="col-md-2 col-xs-12">Giá</div>
                      <div class="col-md-2 col-xs-12">Giá trẻ em</div>
                      <div class="col-md-2 col-xs-12">Giá em bé</div>
                      <div class="col-md-2 col-xs-12"></div>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="list-inline">
                      <div class="row">
                        <h5>Thông tin tour chi tiết thứ #1</h5>
                        <div></div>
                        <div class="col-md-2 col-xs-12">
                          <label>Ngày khởi hành</label>
                          <strong>21/11/2020</strong>
                        </div>
                        <div class="col-md-2 col-xs-12">
                          <label>Mã Tour</label>
                          <strong style="margin-left: -30px"
                            >STN084-2020-00383</strong
                          >
                        </div>
                        <div class="col-md-2 col-xs-12 price">
                          <label>Giá</label>
                          <strong>3.879.000</strong>
                        </div>
                        <div class="col-md-2 col-xs-12 price">
                          <label>Giá trẻ em</label>
                          <strong>1.940.000</strong>
                        </div>
                        <div class="col-md-2 col-xs-12 price">
                          <label>Giá trẻ sơ sinh</label>
                          <strong>0</strong>
                        </div>
                        <div class="col-md-2 col-xs-12 packageInfo">
                          <label>Đặt/Mua tour</label>
                          <span>
                            <a
                              class="btn buttonCustomPrimary buy-tour"
                              href="/booking/book-tour/pax-no/20497?type=buy"
                            >
                              Mua tour
                            </a>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <h5>Thông tin tour chi tiết thứ #2</h5>
                        <div></div>
                        <div class="col-md-2 col-xs-12">
                          <label>Ngày khởi hành</label>
                          <strong>28/11/2020</strong>
                        </div>
                        <div class="col-md-2 col-xs-12">
                          <label>Mã Tour</label>
                          <strong style="margin-left: -30px"
                            >STN084-2020-00384</strong
                          >
                        </div>
                        <div class="col-md-2 col-xs-12 price">
                          <label>Giá</label>
                          <strong>3.879.000</strong>
                        </div>
                        <div class="col-md-2 col-xs-12 price">
                          <label>Giá trẻ em</label>
                          <strong>1.940.000</strong>
                        </div>
                        <div class="col-md-2 col-xs-12 price">
                          <label>Giá trẻ sơ sinh</label>
                          <strong>0</strong>
                        </div>
                        <div class="col-md-2 col-xs-12 packageInfo">
                          <label>Đặt/Mua tour</label>
                          <span>
                            <a
                              class="btn buttonCustomPrimary buy-tour"
                              href="/booking/book-tour/pax-no/20498?type=buy"
                            >
                              Mua tour
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
