<div class="card-wrapper">
    <div class="title">
        <h2>Tour Guide Info</h2>
    </div>
    <div class="img-and-name">
        <div class="image-place">
          <img alt="Imagem de Carina Ponte, responsável pela área de Heranças em MSF Brasil" class="person-image" src="https://cuoifly.tuoitre.vn/820/0/ttc/r/2020/09/06/118750212-3403284543063919-5287306845282671914-n-1599391236.jpg" title="Image Of Name">
        </div>
        <div class="information">
          <div class="person-name">
              <p>Name</p>
          </div>
          <br/>
          
          <div class="job-description">Gender: </div>
          <div class="job-description">Identity: </div>
          <div class="job-description">Date of birth: </div>
          <div class="job-description">Languages: </div>
          <div class="job-description">Address: </div>
          <div class="job-description">Number of trip: </div>
          <div class="contacts">
            <div class="phone-number">
                <p>
                  <a href="tel:+552135273614">phone</a>
                </p>
            </div>
            <div class="email">
                <p>
                  <a href="email">email</a>
                </p>
            </div>
          </div>
        </div>
    </div>
</div>