* {
    box-sizing: border-box;
}
body {
    font-family: Arial, 'Helvetica', sans-serif;
}
.card-wrapper {
    width: fit-content;
    height: 100%;
    display: block;
    position: relative;
    margin: 10px;
    padding: 0 0 40px;
    background-color: #f8f8f8;
/*     background-image: radial-gradient(#e5e5e5 5%, transparent 6%), radial-gradient(#e5e5e5 5%, transparent 6%);
    background-size: 30px 30px; 
    background-position: 0 0, 15px 15px;*/
    background: transparent;
    border: 1px solid #e00;
}
.card-wrapper .title {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding: 20px 30px;
    margin: 0 auto 30px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #e00;
    transition: 300ms;
}
.card-wrapper .title:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 100%;
    right: auto;
    left: 30px;
    bottom: auto;
    border: 15px solid transparent;
    border-top: 15px solid #e00;
    transition: 300ms;
}
.card-wrapper .img-and-name {
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 30px;
    margin: 0 auto;
    font-size: 0;
}
.card-wrapper .img-and-name .image-place {
    width: 170px;
    height: 180px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    transition: 300ms;
  
    border: 2px solid #e00;
    border-radius: 50%;
}
.card-wrapper .img-and-name .image-place img {
    width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    position: relative;
  
    top: -150%;
    bottom: -150%;
    left: -150%;
    right: -150%;
    position: absolute;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
}
.card-wrapper .img-and-name .information {
    width: calc(100% - 170px);
    height: auto;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
    vertical-align: top;
    transition: 300ms;
}
.card-wrapper .img-and-name .information .person-name,
.card-wrapper .img-and-name .information .job-description,
.card-wrapper .img-and-name .information .contacts {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding: 5px 0;
    color: #4e4e4e;
    font-size: 14px;
    line-height: 1.4;
    transition: 800ms;
}
.card-wrapper .img-and-name .information .person-name {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    padding: 0;
}
.card-wrapper .img-and-name .information .job-description {
    font-size: 18px;
    padding-top: 0;
}
.card-wrapper .img-and-name .information .job-description:after {
    content: " ";
    display: block;
    position: relative;
/*     border-bottom: 1px solid #e00; */
    padding: 0;
    margin: 0 auto 10px;
}
.card-wrapper .img-and-name .information .contacts,
.card-wrapper .img-and-name .information .email {
    font-size: 0;
}
.card-wrapper .img-and-name .information .contacts .email,
.card-wrapper .img-and-name .information .contacts .phone-number {
    font-size: 0;
}
.card-wrapper .img-and-name .information .contacts .email p,
.card-wrapper .img-and-name .information .contacts .phone-number p {
    width: 100%;
    display: block;
    position: relative;
}
.card-wrapper .img-and-name .information .contacts .email p:before,
.card-wrapper .img-and-name .information .contacts .phone-number p:before {
    content: " ";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.card-wrapper .img-and-name .information .contacts .email p a,
.card-wrapper .img-and-name .information .contacts .phone-number p a {
    width: calc(100% - 20px);
    display: inline-block;
    position: relative;
    padding: 0 0 0 8px;
    margin: 0;
    vertical-align: middle;
}
.card-wrapper .img-and-name .information .contacts a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #e00;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
}
@media (max-width: 576px) {
    .card-wrapper .title {
        font-size: 25px;
        text-align: center;
        transition: 300ms;
    }
    .card-wrapper .title:after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transition: 300ms;
    }
    .card-wrapper .img-and-name {
        text-align: center;
        padding: 0;
        transition: 300ms;
    }
    .card-wrapper .img-and-name .image-place {
        width: 170px;
        height: 170px;
        margin: 20px auto;
        padding: 0;
        transition: 300ms;
    }
    .card-wrapper .img-and-name .information {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        padding: 0 30px;
        transition: 300ms;
    }
    .card-wrapper .img-and-name .information .person-name,
    .card-wrapper .img-and-name .information .job-description,
    .card-wrapper .img-and-name .information .contacts {
        transition: 800ms;
    }
    .card-wrapper .img-and-name .information .person-name {
        padding: 0 0 5px;
    }
  
    .card-wrapper .img-and-name .information .person-name p {
      font-size: 30px;
      line-height: 1;
      padding: 0;
      margin: 0 auto;
    }
  
    .card-wrapper .img-and-name .information .job-description:after {
        border-bottom: 1px solid #e00;
        padding: 20px 0 0;
        margin: 0 -30px 10px;
    }
    .card-wrapper .img-and-name .information .contacts,
    .card-wrapper .img-and-name .information .email {
        font-size: 0;
    }
    .card-wrapper .img-and-name .information .contacts .email p a,
    .card-wrapper .img-and-name .information .contacts .phone-number p a {
        width: auto;
    }
}
