<div class="card-wrapper">
    <div class="title">
        <h1>Thông Tin Hướng Dẫn Viên</h1>
    </div>
    <div class="img-and-name">
        <div class="image-place">
            <img alt="Imagem de Carina Ponte, responsável pela área de Heranças em MSF Brasil" class="person-image" src="{{tourguide.avatarPath}}" title="Image Of Name">
        </div>
        <div class="information">
            <div class="person-name">
                <p>{{tourguide.name}}</p>
            </div>
            <br/>

            <div class="job-description">Giới Tính: {{tourguide.gender}}</div>
            <div class="job-description">CMND/CCCD: {{tourguide.identity}}</div>
            <div class="job-description">Ngày Sinh: {{tourguide.dateOfBirth}}</div>
            <div class="job-description">Ngôn Ngữ:  {{tourguide.language}}</div>
            <div class="job-description">Địa Chỉ: {{tourguide.address}}</div>
            <div class="job-description">Số chuyến đi: {{tourguide.tripNumber}}</div>
            <div class="contacts">
                <div class="phone-number">
                    <p>
                        <a href="tel:{{tourguide.phone}}">SĐT: {{tourguide.phone}}</a>
                    </p>
                </div>
                <div class="email">
                    <p>
                        <a href="{{tourguide.email}}">Email: {{tourguide.email}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container btnn">
        <div type="button" class="btn btn-info"><b>Cập Nhật</b></div>
        <div type="button" class="btn btn-warning"><b>Sửa</b></div>
    </div>

</div>
<div class="container">
<button type="button" class="btn btn-primary"style ="margin-left:-5px"><b>Danh Sách Tour</b></button>
<button type="button" class="btn btn-primary" style ="margin-left: 15px;"><b>Hướng Dẫn Chuyến Đi </b></button>
</div>