<table class="table table-striped">
    <tbody>
        <tr *ngFor="let tour of tours">
            <div class="row">
                <!-- Tour List -->
                <div class="col-sm-12 col-xs-12">
                    <div class="row box-search-tour">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="box-search-tour-image">
                                <a href="/tour/blog&trip/{{ tour.id }}" class="isotopeSelector image-box-relative image-box-3x2">
                                    <img class="tour-image" src="{{ tour.avatarPath }}" alt="Image" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="row box-search-tour-info">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="title-tour">
                                        <a href="/tour/blog&trip/{{ tour.id }}" data-url="/tour/blog&trip/{{ tour.id }}" data-id="99" data-name="{{ tour.name }}" data-price="{{ tour.price }}" data-list="List" data-position="1" class="GAproductClick" title="{{ tour.name }}">
                      {{ tour.name }}
                    </a>
                                    </div>
                                    <div class="destination-tour">
                                        {{ tour.departureLocation }} - {{ tour.destination }}
                                    </div>
                                    <div class="detail-tour">
                                        Thời gian: {{ tour.time }}<br /> - {{ tour.summary }}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="row-box-price col-md-12 col-sm-12 col-xs-6">
                                            <a href="/tour/blog&trip/{{ tour.id }}" data-url="/tour/blog&trip/{{ tour.id }}" data-id="99" data-name="{{ tour.name }}" data-price="{{ tour.price }}" data-list="List" data-position="1" class="box-price-tour" title="{{ tour.name }}">
                                                <span class="text">Giá từ </span>
                                                <span class="price">{{ tour.price }}</span>
                                            </a>
                                        </div>
                                        <div class="row-box-views col-md-12 col-sm-12 col-xs-6" style="display: block">
                                            <br />
                                            <a class="box-view-more">
                                                <i class="fa fa-plane" aria-hidden="true"></i>
                                                <span class="text">{{ tour.numberTrip }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        <tr *ngIf="!tours">
            <td colspan="4" class="text-center"></td>
        </tr>
    </tbody>
</table>