<div class="card-wrapper">
    <div class="title">
        <h2>Customer Info</h2>
    </div>
    <div class="img-and-name">
        <div class="image-place">
          <img alt="Imagem de Carina Ponte, responsável pela área de Heranças em MSF Brasil" class="person-image" src="https://dp8jkr4epljie.cloudfront.net/sites/default/files/carina_menor.png" title="Image Of Name">
        </div>
        <div class="information">
          <div class="person-name">
              <p>Name</p>
          </div>
          <br/>
          <div class="job-description">Identity: </div>
          <div class="job-description">Address: </div>

          <div class="contacts">
            <div class="phone-number">
                <p>
                  <a href="tel:+552135273614">phone</a>
                </p>
            </div>
            <div class="email">
                <p>
                  <a href="email">email</a>
                </p>
            </div>
          </div>
        </div>
    </div>
</div>