<div class="classdetails" *ngIf="account">
    <div class="card border-primary">
        <h1 class="card-header">Chi Tiết Đăng Ký Chuyến Đi</h1>
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-6">
                    <label>Tên Khách Hàng: </label>
                    <p class="form-register-trip">
                        {{ detail.nameRegister }}
                    </p>
                </div>
                <div class="col-md-6">
                    <label><strong>Giới Tính: </strong>{{ detail.gender }}</label>
                </div>
                <div class="col-md-6">
                    <label><strong>CMND/CCCD: </strong> {{ detail.identity }}</label>
                </div>
                <div class="col-md-6">
                    <label><strong>Email: </strong> {{ detail.email }}</label>
                </div>
                <div class="col-md-6">
                    <label><strong>SĐT: </strong>{{ detail.phone }}</label>
                </div>
                <div class="col-md-6">
                    <label>Địa Chỉ:</label>
                </div>
                <div class="col-md-6">
                    <label>Người lớn:</label>
                </div>
                <div class="col-md-6">
                    <label>Trẻ Con:</label>
                </div>
                <div class="col-md-6">
                    <label>Em Bé:</label>
                </div>
                <div class="col-md-6">
                    <label>Mã Tour:</label>
                </div>
                <div class="col-md-6">
                    <label>Tên Tour:</label>
                </div>
                <div class="col-md-6">
                    <label>Điểm Bắt Đầu:</label>
                </div>
                <div class="col-md-6">
                    <label>Điểm Kết Thúc:</label>
                </div>
                <div class="col-md-6">
                    <label>Giá Tour:</label>
                </div>
                <div class="col-md-6">
                    <label>Thời Gian:</label>
                </div>
                <div class="col-md-6">
                    <label>Thông Tin Khách Sạn:</label>
                </div>
                <div class="col-md-6">
                    <label>Phương Tiện:</label>
                </div>
                <div class="col-md-6">
                    <label>Ngày Đi:</label>
                </div>
                <div class="col-md-6">
                    <label>Ngày Về:</label>
                </div>
                <div class="col-md-6">
                    <label for="priceadults ">Giá Người Lớn:</label>
                </div>
                <div class="col-md-6">
                    <label for="childrenPrice ">Giá Trẻ Em:</label>
                </div>
                <div class="col-md-6">
                    <label for="babyPrice ">Giá Em Bé:</label>
                </div>
                <div class="col-md-6">
                    <label for="totalAmount ">Tổng Tiền:</label>
                </div>
            </form>
            <div class="form-row">
                <a routerLink="/customer/info/{{ account.id }}/listRegisterTrip " class="btn btn-danger">Quay lại</a
        >
      </div>
    </div>
  </div>
</div>