<div class="classdetails" *ngIf="account">
    <div class="card border-primary">
        <h1 class="card-header">Chi Tiết Đăng Ký Chuyến Đi</h1>
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="nameRegister">Tên Khách Hàng: </label>
                </div>
                <div class="col-md-6">
                    <label for="gender">Giới Tính:</label>
                </div>
                <div class="col-md-6">
                    <label for="identity">CMND/CCCD:</label>
                </div>
                <div class="col-md-6">
                    <label for="email">Email:</label>
                </div>
                <div class="col-md-6">
                    <label for="phone">SĐT:</label>
                </div>
                <div class="col-md-6">
                    <label for="address">Địa Chỉ:</label>
                </div>
                <div class="col-md-6">
                    <label for="adults">Người lớn:</label>
                </div>
                <div class="col-md-6">
                    <label for="children">Trẻ Con:</label>
                </div>
                <div class="col-md-6">
                    <label for="baby">Em Bé:</label>
                </div>
                <div class="col-md-6">
                    <label for="maTour">Mã Tour:</label>
                </div>
                <div class="col-md-6">
                    <label for="name">Tên Tour:</label>
                </div>
                <div class="col-md-6">
                    <label for="departureLocation">Điểm Bắt Đầu:</label>
                </div>
                <div class="col-md-6">
                    <label for="destination">Điểm Kết Thúc:</label>
                </div>
                <div class="col-md-6">
                    <label for="price">Giá Tour:</label>
                </div>
                <div class="col-md-6">
                    <label for="time">Thời Gian:</label>
                </div>
                <div class="col-md-6">
                    <label for="infoHotel">Thông Tin Khách Sạn:</label>
                </div>
                <div class="col-md-6">
                    <label for="infoVehicle">Phương Tiện:</label>
                </div>
                <div class="col-md-6">
                    <label for="startDate">Ngày Đi:</label>
                </div>
                <div class="col-md-6">
                    <label for="endDate">Ngày Về:</label>
                </div>
                <div class="col-md-6">
                    <label for="priceadults">Giá Người Lớn:</label>
                </div>
                <div class="col-md-6">
                    <label for="childrenPrice">Giá Trẻ Em:</label>
                </div>
                <div class="col-md-6">
                    <label for="babyPrice">Giá Em Bé:</label>
                </div>
                <div class="col-md-6">
                    <label for="totalAmount">Tổng Tiền:</label>
                </div>
            </form>
            <div class="form-row">
                <a routerLink="/customer/info/{{ account.id }}/listRegisterTrip" class="btn btn-danger">Quay lại</a
        >
      </div>
    </div>
  </div>
</div>