<app-blog *ngIf="account"></app-blog>
<div class="list-tour-detail">
    <h2>Danh sách các chuyến đi</h2>
    <div class="row trip-row">
        <div class="col-md-12 col-xs-12 tour-detail-title-information tour-detail-header-col">
            <div class="row trip-row">
                <div class="col-md-2 col-sm-3 col-xs-12">Khởi hành</div>
                <div class="col-md-2 col-sm-3 col-xs-12">Mã Tour</div>
                <div class="col-sm-2 col-xs-12">Giá</div>
                <div class="col-sm-2 col-xs-12">Giá trẻ em</div>
                <div class="col-sm-2 col-xs-12">Giá em bé</div>
                <div class="col-md-2 col-sm-12 col-xs-12"></div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tour-detail-content-col" *ngFor="let trip of trips">
            <div class="list-inline">
                <div class="row trip-row">
                    <div class="col-xs-12"></div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <!-- <label>Ngày khởi hành</label> -->
                        <strong>{{ trip.startDate }}</strong>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <!-- <label>Mã Tour</label> -->
                        <strong style="margin-left: -30px">{{ trip.tourId }}/{{ tour.tourGuideId }}-{{ trip.id }}/{{
                trip.tourGuideId
              }}-{{ trip.endDate }}</strong
            >
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12 price">
            <!-- <label>Giá</label> -->
            <strong>{{ trip.price }}</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <!-- <label>Giá trẻ em</label> -->
                        <strong>{{ trip.childrenPrice }}</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <!-- <label>Giá trẻ sơ sinh</label> -->
                        <strong>{{ trip.babyPrice }}</strong>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 packageInfo">
                        <!-- <label>Đặt/Mua tour</label> -->
                        <div class="action-book">
                            <a class="btn btn-buy-tour" href="/tour/blog&trip/{{ trip.tourId }}/registerTrip/{{
                  trip.id
                }} ">
                Mua Tour
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tour-detail-content-col" *ngIf="!trips">
            <div class="list-inline">
                <div class="row trip-row">
                    <div class="col-xs-12"></div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <!-- <label>Ngày khởi hành</label> -->
                        <strong>Chưa có</strong>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <!-- <label>Mã Tour</label> -->
                        <strong style="margin-left: -30px"> </strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <!-- <label>Giá</label> -->
                        <strong>Chưa có</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <!-- <label>Giá trẻ em</label> -->
                        <strong>Chưa có</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <!-- <label>Giá trẻ sơ sinh</label> -->
                        <strong>Chưa có</strong>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 packageInfo">
                        <!-- <label>Đặt/Mua tour</label> -->
                        <!-- <div class="action-book">
                            <a class="btn btn-buy-tour"> Mua Tour </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="spinner-border" role="status " *ngIf="!trips">
            <span class="sr-only">Loading...</span>
        </div> -->
    </div>

    <div *ngIf="account.isTourGuide && tour.amount > 0">
        <h2>Thêm chuyến đi</h2>
        <form [formGroup]="form" (ngSubmit)="addTrip()">
            <div class="form-row">
                <label>Tour Guide Id: {{ tourGuide.id }}</label>
                <input type="text " formControlName="tourId" class="form-control" value="{{ tourGuide.id }}" [ngClass]="{ 'is-invalid': submitted && f.tourId.errors }" hidden />
                <div *ngIf="submitted && f.tourId.errors" class="invalid-feedback">
                    <div *ngIf="f.tourId.errors.required">Tour Id is required</div>
                </div>
            </div>
            <div class="form-row">
                <label>Price: {{ tour.price }}</label>
                <input type="text " formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" hidden />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Price is required</div>
                </div>
            </div>
            <div class="newspaper">
                <div class="form-row">
                    <label>Info Hotel</label>
                    <input type="text " formControlName="infoHotel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.infoHotel.errors }" />
                    <div *ngIf="submitted && f.infoHotel.errors" class="invalid-feedback">
                        <div *ngIf="f.infoHotel.errors.required">
                            Info Hotel is required
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label>Start Date</label>
                    <input type="date" formControlName="startDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
                    <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                        <div *ngIf="f.startDate.errors.required">
                            Start Date is required
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label>Children Price</label>
                    <input type="text " formControlName="childrenPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.childrenPrice.errors }" />
                    <div *ngIf="submitted && f.childrenPrice.errors" class="invalid-feedback">
                        <div *ngIf="f.childrenPrice.errors.required">
                            Children Price is required
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label>Info Vehicle</label>
                    <input type="text " formControlName="infoVehicle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.infoVehicle.errors }" />
                    <div *ngIf="submitted && f.infoVehicle.errors" class="invalid-feedback">
                        <div *ngIf="f.infoVehicle.errors.required">
                            Info Vehicle is required
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label>End Date</label>
                    <input type="date" formControlName="endDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
                    <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                        <div *ngIf="f.endDate.errors.required">End Date is required</div>
                    </div>
                </div>
                <div class="form-row">
                    <label>Baby Price</label>
                    <input type="text " formControlName="babyPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.babyPrice.errors }" />
                    <div *ngIf="submitted && f.babyPrice.errors" class="invalid-feedback">
                        <div *ngIf="f.babyPrice.errors.required">
                            Baby Price is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <button [disabled]="loading" class="btn btn-success">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Add Trip
        </button>
            </div>
        </form>
    </div>
</div>