<head>
  <meta charset = "utf-8">
  
</head>

<ng-template #customNotification let-notificationData="notification">
  <my-custom-alert type="notificationData.type">
      {{ notificationData.message }}
  </my-custom-alert>
</ng-template>

<div class="body-content">
    <div class="module">
      <h1>Create An Account</h1>
      <form class="form" enctype="multipart/form-data" autocomplete="off" #postForm="ngForm">
        <div class="alert alert-error"></div>
        <input [(ngModel)]='fullname' type="text" placeholder="Full Name" name="fullname" id="fullname" required />
        <input [(ngModel)]='email' type="email" placeholder="Email" name="email" id="email" required />
        <input [(ngModel)]='username' type="text" placeholder="User Name" name="username" id="username" required />
        <input [(ngModel)]='password' type="password" placeholder="Password" name="password" id="password" autocomplete="new-password" required />
        <input [(ngModel)]='confirmpassword' type="password" placeholder="Confirm Password" name="confirmpassword" autocomplete="new-password" required />
        
        <h5>Please select your type:</h5>
        <div class="control" >
          <label class="radio">
            <input type="radio" name="typeUser" value="customer" id="customer" [(ngModel)]='typeUser'>
            Customer
          </label>
          <label class="radio">
            <input type="radio" name="typeUser" value="tourGuide" id="tourGuide" [(ngModel)]='typeUser'>
            Tour Guide
          </label>
        </div>

        <input type="submit" value="Register" name="register" class="btn btn-block btn-primary" (click)="createNewAccount()"/>
        <!-- (click)="createNewAccount()" -->
      </form>
    </div>
  </div>
