<head>
  <meta charset = "utf-8">
</head>

<div class="body-content">
  <div class="module">
    <h1>Create An Account</h1>
    <form class="form" action="form.php" method="post" enctype="multipart/form-data" autocomplete="off">
      <div class="alert alert-error"></div>
      <input type="text" placeholder="Full Name" name="name" required />
      <input type="email" placeholder="Email" name="email" required />
      <input type="text" placeholder="User Name" name="username" required />
      <input type="password" placeholder="Password" name="password" autocomplete="new-password" required />
      <input type="password" placeholder="Confirm Password" name="confirmpassword" autocomplete="new-password" required />
      <p>Please select your type:</p>
      <input type="radio" id="customer" name="type" value="customer">
      <label for="customer">Customer</label><br>
      <input type="radio" id="tourGuide" name="type" value="tourGuide">
      <label for="tourGuide">Tour Guide</label><br>
      <div class="avatar">
        <label>Select your avatar: </label>
          <input type="file" name="avatarPath" accept="image/*" required />
      </div>
      <input type="submit" value="Register" name="register" class="btn btn-block btn-primary" (click)="createNewUser()"/>
    </form>
  </div>
</div>